
@{
    ViewBag.Title = "PriceIndex";
}

<h2>PriceIndex</h2>
<p>
    Find property price trends:
</p>

 <h4 class="col-lg-offset-1">During the first quarter of 2016; The highest number of transactions was evidenced in the village of Namugongo, Wakiso District.
Property prices have risen by XX.XX% compared to the previous quarter, and risen by X.XX% compared to the previous year.
The average price of land in the Uganda was UGX YYYYY</h4>
<hr />
<h3>About the Property Index</h3>
<p>
    The UGANDA INDEPENDENT PROPERTY PRICE INDEX <b>(UIPPI)</b> uses sales data from Land Registry, Ministry of Lands, Housing and Urban Development, and other independent sources. The index applies a statistical method, called a hedonic regression model, to the various sources of data on property price and attributes to produce estimates of the change in property prices for each period. 
</p>
<p>
    Using the search tool you can identify a specific subset of property price index data you are interested in. At present, the subset available is the block number as per the certificate of title. 
</p>
