@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Logged In.</h1>
<h2>You are already logged in. Log out to use a different user </h2>
Anti Forgery Token avoids double login scenarios.Go back to the @Html.ActionLink("Search Portal", "Index", "Values")

