@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Logged In.</h1>
<h2 class="text-danger">You are already logged in. Log out to use a different user or Go back to Homepage
@Html.ActionLink("Homepage", "Index", "Values") </h2>

Go back to Homepage
@Html.ActionLink("Already Logged In", "Index", "Values")

