@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Logged In.</h1>
<h2 class="text-danger">You are already logged in. Log out to use a different user </h2>

